body {
  margin:0;
  font-family:Inter;
  background:#0B0B0B;
  color:white;
}

.layout {
  display:flex;
}

.sidebar {
  width:200px;
  background:#111;
  padding:20px;
}

.main {
  flex:1;
  padding:20px;
}

button {
  padding:10px;
  margin:10px 0;
  background:#00C897;
  border:none;
  cursor:pointer;
}

#movimenti div {
  padding:10px;
  border-bottom:1px solid #222;
}
